body{
	background-color: AliceBlue;
}

header, footer{
	background-color: MediumTurquoise;
	text-align: center;
}

.menu{
	background-color: LightSeaGreen;
	text-decoration: none;
	padding: 4px;
	/*border-radius: 3px;*/
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
}

[href]{
	text-decoration: none;
}

#suursales{
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
}

.requerido{
	font-weight: bold;
}

