header, footer{
	background-color: orange;
	text-align: center;
	margin: 5px;
}

.menu{
	background-color: chocolate;
	text-decoration: none;
	padding: 3px;
	border-radius: 3px;
}

[href]{
	text-decoration: none;
}

#suursales{
	justify-content:space-around;
}

.requerido{
	font-weight: bold;
}