body{
	background-color: AliceBlue;
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}

header, footer{
	background-color: MediumTurquoise;
	text-align: center;
}

header{
	padding: 1rem;
	padding-top: 0.1rem;
}

header h1{
	font-size: 220%
}

nav{
	width: 560px;/*ancho del menu(el contenedor es un div)*/
	padding:10px;
	background-color:#004080;/*color de fondo del contenedor (div)*/
	margin:auto;/*el menu esta centrado y se desplaza 50px hacia abajo*/
}

.menu{
	background-color: LightSeaGreen;
	padding: 4px;
	border-style: ridge;
	border-width: 5;
	border-radius: 3px;
	border-color: black;
}

.menu:hover{
  background-color: #9E9E9E;
}

.separadorNav{
	background-color: LightSeaGreen;
	padding: 4px;
	border-style: ridge;
	border-width: 5;
	border-color: black;
}

menu{
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

.detallesInstrumentos, #instrumentos, #sucursales{
	display: flex;
	justify-content: flex-start;
	flex-flow: row wrap;
	flex-direction: row;
	align-content: flex-start;
	padding: 0.5rem;
}

.detallesInstrumentos *, #instrumentos *, #sucursales *{
	flex: 0 300px;
	margin-right: 2rem;
	padding: 0;
}

.detallesInstrumentos{
	flex: 0 300px;
	margin-right: 20%;
	padding: 0;
	justify-content: space-between;
}

#suursales{
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
}

.requerido{
	font-weight: bold;
}

#redesSociales  i{
	color: black;
}

body{
	font-family: Arial, Helvetica, sans-serif;
}

.titulo{
	font-family: Verdana, Geneva, sans-serif;
}

#instrumentos [href], [href]:not(.link){
	text-decoration: none;
	color: black;
	background-color: DarkTurquoise;
	border-radius: 3px;
	padding: 3px;
}

#instrumentos [href]:hover, [href]:not(.link):hover{
  background-color: #9E9E9E;
}
